# Define the bot's username used for identification in Twitch chat
TWITCH_BOT_USERNAME=some_bot_name

# Set the bot's OAuth token required for authenticating with the Twitch API
TWITCH_BOT_OAUTH_TOKEN=some_bot_oauth_token

# Specify the name of the Twitch channel that the bot will join and interact with
TWITCH_CHANNEL_NAME=some_twitch_channel

# Set the chatbot#s client id and secret
CLIENT_ID=8nj0...
CLIENT_SECRET=loj7...

# get the auth code from the twitch api (bot account): e.g. https://id.twitch.tv/oauth2/authorize?response_type=code&client_id=<client_id>&redirect_uri=<redirect_uri>&scope=chat:read+chat:edit
AUTH_CODE=aj3x...

# set the redirect uri specified in the twitch chat bot
REDIRECT_URI=http://localhost:1234

# set a user access token from the twitch api (main account): e.g. https://id.twitch.tv/oauth2/authorize?client_id=<client_id>&redirect_uri=<redirect_uri>&response_type=token&scope=chat:read+chat:edit+channel:read:redemptions
USER_ACCESS_TOKEN=oh7v...

# the twitch broadcaster id
BROADCASTER_ID=123456789

# specify name the channel points
CHANNEL_POINT_NAME=channel_points

# set password to connect to obs websocket
OBS_WEBSOCKET_PWD=obs_websocket_pwd

# decide with which port the stats server should start
STATS_PORT=9876